* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}

@media (max-width: 500px) {
  html {
    scroll-padding-top: 100px;
  }
}

body {
  background-color: rgb(10, 10, 10);
  min-height: 100dvh;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  margin-bottom: 20px;
  cursor: default;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin-bottom: 20px;
  /* cursor: default; */
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  /* margin-bottom: 20px; */
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #95c4f9;
  margin-bottom: 8px;
  /* margin-top: 20px; */
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  line-height: 1.5;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15%;
  background-color: #141414;
  z-index: 1;
}

@media (max-width: 500px) {
  nav {
    padding: 20px 10%;
  }
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  height: 100%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  text-decoration: none;
}
nav a:hover {
  color: #95c4f9;
}
nav li:first-child {
  margin-right: auto;
}

.shadow {
  box-shadow: 0 6px 10px 1px rgba(10, 10, 10, 0.3);
  transition: all 0.5s ease;
}

.sidebar {
  padding: 20px 10%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100dvh;
  background-color: #141414;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.sidebar h2 {
  margin-bottom: 0;
}

.nav_top_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar li {
  width: 80%;
}

.sidebar a {
  padding-left: 0;
}

.menu-button {
  display: none;
}
@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}

.logo_text {
  display: flex;
  cursor: pointer;
}

.logo_text h2 {
  margin-bottom: 0;
}

.logo_text a {
  display: contents;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 30%;
  }
}
.logo_dotux {
  color: #95c4f9;
  animation: blink 1.5s linear infinite;
}

button {
  background-color: #95c4f9;
  border: 0cap;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
  color: #141414;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:hover {
  background-color: #aad0fa;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tile_grid a {
  text-decoration: none;
}

.first_section {
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(10, 10, 10, 1) 100%
  );
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  /* width: 70%; */
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 500px) {
  .quote {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.signature {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

em {
  font-style: normal;
}

.highlight-text {
  color: #95c4f9;
}

.project_section {
  padding: 0 15%;
  margin-top: 0px;
}

@media (max-width: 500px) {
  .project_section {
    padding: 0 10%;
  }
}

.casestudies_section {
  padding: 0 15%;
  margin-top: 80px;
}

@media (max-width: 500px) {
  .casestudies_section {
    padding: 0 10%;
  }
}

.blogs_section {
  padding: 0 15%;
  margin-top: 80px;
}

@media (max-width: 500px) {
  .blogs_section {
    padding: 0 10%;
  }
}

.project_subheading h3 {
  color: #adadad;
  margin-bottom: 20px;
}

.project_sub_section {
  margin-bottom: 40px;
}

.tile_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.tile_grid_case {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for desktop view */
  grid-gap: 20px; /* Adjust the gap between items */
}

/* For mobile view */
@media (max-width: 500px) {
  .tile_grid {
    grid-template-columns: 1fr; /* One column for mobile view */
  }
  .tile_grid_case {
    grid-template-columns: 1fr; /* One column for mobile view */
  }
}

.tile_card {
  background-color: #141414;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  align-self: stretch;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.tile_card:hover {
  background-color: #202020;
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tile_card:hover h3 {
  color: #95c4f9;
  transition: all 0.2s ease;
}

.tile_card:hover h6 {
  color: #adadad;
  transition: all 0.2s ease;
}

.tile_img {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.tile_card h3 {
  margin-bottom: 10px;
}

.tile_card p {
  color: #adadad;
}

.about_section {
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 10% 30% 50%;
  padding: 0 15%;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .about_section {
    grid-template-columns: 1fr;
    padding: 0 10%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.vertical_text {
  align-self: center;
  justify-self: center;
  animation: blink 3s linear infinite;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  transform: rotate(-90deg);
  color: #202020;
  margin-bottom: 0;
  cursor: default;
}

@media (max-width: 500px) {
  .vertical_text {
    transform: rotate(0deg);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

.about_img_div {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale();
}

.about_img:hover {
  transition: all 0.3s ease 0s;
  filter: none;
}

.about_text {
  width: 100%;
}

.hindi {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #adadad;
  margin-bottom: 0;
  cursor: default;
}

@media (max-width: 500px) {
  .hindi {
    margin-top: 40px;
    font-size: 3rem;
  }
}

footer {
  padding: 0 15%;
  text-align: center;
  background-color: #141414;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  footer {
    padding: 0 10%;
  }
}

footer h2 {
  margin-top: 40px;
}

.footer_email {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #95c4f9;
  text-decoration: underline;
}

footer p {
  margin-bottom: 20px;
}

.copyright {
  color: #adadad;
  margin-bottom: 20px;
}

.footer_social_icons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.footer_social_icons i:hover {
  color: #95c4f9;
  transition: all 0.3s ease 0s;
}
